<!DOCTYPE html>
<html>
<style>
	body {
		margin-left: 50px;
	}
</style>
<body>

<h1>Perform various actions using selenium</h1>

<form action="#">
  Name:<br>
  <input type="text" name="name" id="name">
  <br>
  <br>
  <br>
  Select Gender:<br>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
  <br>
  <br>
  Checkboxes:<br>
  <input type="checkbox" name="vehicle1" > Honda <br>
  <input type="checkbox" name="vehicle2" > BMW
  <br>
  <br>
  Lists:
  <ul id="fruits">
  <li>Apple</li>
  <li>Banana</li>
  <li>Mango</li>
</ul>
<br>
<select id="cars">
  <option value=""> Select a car of your choice </option>
  <option value="civic">Honda Civic</option>
  <option value="BMW">BMW</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
<br>
<br>
</form>
<br>
<a href="http://www.google.com/search?q=Jazeb">Jazeb Akram</a>

</body>
</html>
